---
title: การเกิดรีแอคทีฟ
slug: reactivity
date: 0006/01/02
number: 6.5
points: 5
sidebar: true
photoUrl: http://www.flickr.com/photos/ikewinski/9632550278/
photoAuthor: Mike Lewinski
contents: เรียนรู้ระบบรีแอคทีฟของ Meteor|เข้าใจว่าทำไมต้องใช้วิธี declarative|รู้วิธีเขียนโค้ดที่ใช้ข้อมูลชนิดรีแอคทีฟ
paragraphs: 20
---

ถ้าคอลเลคชั่นเป็นแกนหลักของ Meteor แล้ว *การเกิดรีแอคทีฟ (reactivity)* ก็เป็นเปลือกหุ้มที่ทำให้แกนนั้นใช้ประโยชน์ได้นั่นเอง

////

////

////

~~~js
Posts.find().observe({
  added: function(post) {
    // when 'added' callback fires, add HTML element
    $('ul').append('<li id="' + post._id + '">' + post.title + '</li>');
  },
  changed: function(post) {
    // when 'changed' callback fires, modify HTML element's text
    $('ul li#' + post._id).text(post.title);
  },
  removed: function(post) {
    // when 'removed' callback fires, remove HTML element
    $('ul li#' + post._id).remove();
  }
});
~~~

////

<% note do %>

### When *Should* We Use `observe()`?

////

////

<% end %>

### A Declarative Approach

////

////

////

~~~html
<template name="postsList">
  <ul>
    {{#each posts}}
      <li>{{title}}</li>
    {{/each}}
  </ul>
</template>
~~~

////

~~~js
Template.postsList.helpers({
  posts: function() {
    return Posts.find();
  }
});
~~~

////

### Dependency Tracking in Meteor: Computations

////

////

////

////

////

### Setting Up a Computation

////

~~~js
Meteor.startup(function() {
  Tracker.autorun(function() {
    console.log('There are ' + Posts.find().count() + ' posts');
  });
});
~~~

////

////

~~~js
> Posts.insert({title: 'New Post'});
There are 4 posts.
~~~

////
